@import '../../App.scss';

.results {
  &--container {
    @extend .container;

    padding: 45px 0;
  }

  &--content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 34px 40px;
  }

  &--title {
    @extend .title;

    display: flex;
    margin: 20px 0 68px;
  }
}

.no-results {
  &--container {
    @extend .container;

    display: flex;
    padding: 22px 0;
  }

  &--content {
    display: flex;
    flex: 0 420px;
    flex-direction: column;
    justify-content: center;
    padding: 0 4px 42px;
  }

  &--title {
    color: $gray--Light;
    font-family: $fontFamily;
    font-size: 45px;
    font-weight: bold;
  }

  &--suggestion {
    color: $gray--Light;
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    width: 220px;
  }

  &--illustration {
    flex: 1;
  }
}

@include lg {
  .no-results {
    &--container {
      flex-direction: column;
      padding: 45px 0 0;
    }

    &--content {
      flex: 1;
      padding: 0;
    }

    &--suggestion {
      margin-top: 16px;
      width: auto;
    }

    &--illustration {
      margin: 45px auto 0;
      overflow: hidden;

      img {
        max-width: 442px;
        margin-bottom: -20px;
        width: 100%;
      }
    }
  }
}